<div class="events-wrapper">
  <div class="row events-header">
    <div class="col-md-6">
      <div class="img-circle">
        <%= profile_avatar_select(@user) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="user-name-and-follow">
        <h3 class="profile-user-name">
          <%= @user.user_name %>
        </h3>
        <span>
          <% if current_user?(@user) %>
					  <%= link_to 'Edit Profile', edit_profile_path(@user.user_name),
					    :class => 'btn edit-button' %>
        
        <%= link_to "&#8943;".html_safe, "#settings-modal-#{@user.id}", :class => 'btn edit-button', "data-toggle" => "modal" %>

					<% else %>
					  <% if current_user.following?(@user) %>
					    <%= link_to 'Following', unfollow_user_path, {
					      :remote => true,
					      :class => "btn unfollow-button",
					      :id => "unfollow-button-#{@user.id}",
					      :method => :post } %>
					  <% else %>
					    <%= link_to 'Follow', follow_user_path,
					      { :remote => true, 
					      	:class => 'btn follow-button', 
					      	:id => "follow-button-#{@user.id}", 
					      	:method => :post } %>
					  <% end %>
					<% end %>
        </span>
      </div>
      <p class="profile-bio">
        <%= @user.background %>
      </p>
      <div class="user-statistics">
        <p>
          <%= pluralize @user.events.count, 'event' %>
        </p>
      </div>
      <div class="row">
      <div class="following pull-left" style="margin-left:1em; margin-right:3em;">
        <span class="glyphicon glyphicon-user"></span>
        <%= link_to "#{@user.following.count} Following", "#following-modal-#{@user.id}", :class => 'btn-link', "data-toggle" => "modal" %>
      </div>
      <div class="followers pull-left">
        <span class="glyphicon glyphicon-user"></span>
        <%= link_to "#{@user.followers.count} Followers", "#followers-modal-#{@user.id}", :class => 'btn-link', "data-toggle" => "modal" %>
      </div>
      </div>
    </div>
  </div>

	<hr>

	<% @events.each do |event| %>
		<%= render 'events/event', :event => event %>
	<% end %>
</div>


<!-- Modal Following-->
<div class="modal fade" id="following-modal-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= "#{pluralize(@user.following.count, 'Following')}" %></h4>
      </div>
      <div class="modal-body">
        <% @user.following.each do |user| %>
          <%= render 'shared/user_info', :user => user %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Followers-->
<div class="modal fade" id="followers-modal-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= "#{pluralize(@user.followers.count, 'Followers')}" %></h4>
      </div>
      <div class="modal-body">
        <% @user.followers.each do |user| %>
          <%= render 'shared/user_info', :user => user %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Settings -->
<div class="modal fade" id="settings-modal-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">More Account Options</h4>
      </div>
      <div class="modal-body">
        <%= link_to 'Acount Settings', edit_user_path(current_user.id),
              :class => ' btn btn-primary text-center btn-block'%>
      </div>
    </div>
  </div>
</div>





