
<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="content"><%= link_to feed_item.title, feed_item %></span>
  <span class="user">
    <%= link_to feed_item.user.user_name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.date %></span>
  <span class="content"><%= feed_item.location %></span>
  <span class="content"><%= feed_item.description %></span>
  <span class="content"><%= feed_item.tag_list %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>

  <span class="content"><%= feed_item.guests.count %> Attending</span>

  <% if current_user?(feed_item.user) %>
    <%= link_to "edit", edit_event_path(feed_item) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     confirm: "You sure?" %>
  <% else %>
    <% if current_user.guest?(feed_item) %>
      <%= form_for(current_user.invite_relationships.find_by(event_id: feed_item.id),
               html: { method: :delete }) do |f| %>
          <%= f.submit "Leave", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.invite_relationships.build) do |f| %>
        <div><%= hidden_field_tag :event_id, feed_item.id %></div>
        <%= f.submit "Join", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</li>