<!-- no comments yet -->
<div class="event">
  <div class="event-head">
    <%= link_to event.user.user_name, profile_path(event.user.user_name), :class => "user-name" %>
    <div>
      <%= link_to event.title, event_path(event), :class => "event-title" %>
      <div class="time-ago"><%= time_ago_in_words(event.created_at) %></div>
    </div>
  </div>
  <div class="map center-block">
    <%= map_image(event) %>
  </div>

  <div class="event-bottom">
    <div class="location">
      <span class="glyphicon glyphicon-globe"></span>
      <%= event.location %>
    </div>

    <div class="attending">
      <span class="glyphicon glyphicon-user"></span>
      <%= event.guests.count %> Attending
    </div>

    <div class="description">
      <%= event.description %>
    </div>
    <div class="tag-list">
      <% event.tag_list.each do |tag| %>
        <%= link_to tag, search_path(:search => tag), method: :post %>
      <% end %>
    </div>
    <% if current_user?(event.user) %>
      <div class="edit-link">
        <%= link_to "edit", edit_event_path(event) %> |
        <%= link_to "delete", event, method: :delete, confirm: "You sure?" %>
      </div>
    <% else %>
      <% if current_user.guest?(event) %>
        <%= form_for(current_user.invite_relationships.find_by(event_id: event.id),
                 html: { method: :delete }) do |f| %>
            <%= f.submit "Leave", class: "btn join-btn" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.invite_relationships.build) do |f| %>
          <div><%= hidden_field_tag :event_id, event.id %></div>
          <%= f.submit "Join", class: "btn btn-primary join-btn" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>