<li id="event-<%= event.id %>">
  <%= link_to gravatar_for(event.user), event.user %>
  <span class="user"><%= link_to event.user.name, event.user %></span>
  <span class="content"><%= event.date %></span>
  <span class="content"><%= event.location %></span>
  <span class="content"><%= event.description %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(event.created_at) %> ago.
  </span>
  <% if current_user?(event.user) %>
    <%= link_to "delete", event, method: :delete,
                                     confirm: "You sure?" %>
  <% end %>
</li>